openapi: 3.0.0
info:
  description: "Traveloka swagger documentation"
  version: 1.0.0
  title: Traveloka Swagger
tags:
  - name: reschedule
    description: Experience Reschedule Page
  - name: models
    x-displayName: All Models
    description: |
      ## ExperienceBookingRequestInfo
      <SchemaDefinition schemaRef="#/components/schemas/ExperienceBookingRequestInfo" />
paths:
  /rescheduleLanding:
    post:
      tags:
        - reschedule
      summary: Get Reschedule Landing Page's info
      description: ""
      operationId: rescheduleLanding
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExperienceRescheduleLandingRequest"
        description: Pet object that needs to be added to the store
        required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ExperienceRescheduleLandingResponse"
      security:
        - petstore_auth:
            - write:pets
            - read:pets
externalDocs:
  description: Find out more about Swagger
  url: http://swagger.io
servers:
  - url: https://api.xpe.traveloka.com/experience
components:
  securitySchemes:
    petstore_auth:
      type: oauth2
      flows:
        implicit:
          authorizationUrl: http://petstore.swagger.io/oauth/dialog
          scopes:
            write:pets: modify pets in your account
            read:pets: read your pets
    api_key:
      type: apiKey
      name: api_key
      in: header
  schemas:
    ExperienceRescheduleLandingRequest:
      type: object
      properties:
        bookingRequestInfo:
          $ref: "#/components/schemas/ExperienceBookingRequestInfo"
      required:
        - bookingRequestInfo
    ExperienceBookingRequestInfo:
      type: object
      properties:
        bookingId:
          type: string
          example: "6f64a2fcd9"
        itineraryId:
          type: string
          example: "1633939633608874066"
        invoiceId:
          type: string
          example: "1633939634378529708"
        auth:
          type: string
          example: "6f64a2fcd9"
        currency:
          type: string
          example: "SGD"
      required:
        - bookingId
        - itineraryId
        - invoiceId
        - auth
    ExperienceRescheduleLandingResponse:
      type: object
      properties:
        infoHelper:
          $ref: "#/components/schemas/ExperienceRescheduleInfoHelperModel"
        rescheduleAvailabilityText:
          type: string
        isRescheduleAvailable:
          type: boolean
        reschedulePolicy:
          $ref: "#/components/schemas/ExperienceAccordionModel"
        ticketTypeDisplay:
          $ref: "#/components/schemas/ExperienceTicketTypeDisplayV2"
        providerId:
          type: string
        useDynamicPricing:
          type: boolean
        messageText:
          type: string
      required:
        - infoHelper
        - rescheduleAvailabilityText
        - isRescheduleAvailable
        - reschedulePolicy
        - providerId
        - useDynamicPricing
        - messageText
    ExperienceTicketTypeDisplayV2:
      type: object
      properties:
        experienceTicketId:
          type: string
        title:
          type: string
        subTitle:
          type: string
        ticketDetailsImageUrl:
          type: string
        ticketDescriptions:
          $ref: "#/components/schemas/ExperienceIconWithText"
        ticketPrice:
          $ref: "#/components/schemas/ExperiencePrice"
        limitedAvailability:
          type: boolean
        ticketPromo:
          $ref: "#/components/schemas/ExperienceTicketPromo"
        ticketEntranceTypes:
          type: array
          items:
            $ref: "#/components/schemas/ExprienceTicketEntranceType"
        sellingDates:
          type: array
          items:
            $ref: "#/components/schemas/MonthDayYear"
        useDates:
          type: array
          items:
            $ref: "#/components/schemas/MonthDayYear"
        availableTimeSlots:
          type: array
          items:
            $ref:  "#/components/schemas/ExperienceTicketTimeSlot"
    ExperienceAccordionModel:
      type: object
      properties:
        accordionInformation:
          $ref: "#/components/schemas/ExperienceAccordionInfo"
        contentVD:
          type: object
      required:
        - accordionInformation
        - contentVD
    ExperienceIconWithText:
      type: object
      properties:
        iconUrl:
          type: string
        description:
          type: string
        hexColorCode:
          type: string
        detailText:
          type: string
    ExperienceAccordionInfo:
      type: object
      properties:
        iconUrl:
          type: string
        title:
          type: string
        hexCode:
          type: string
        description:
          type: string
        initiallyExpanded:
          type: boolean
    ExperienceRescheduleInfoHelperModel:
      type: object
      properties:
        infoImageUrl:
          type: string
        infoText:
          type: string
        infoPagePath:
          type: string
      required:
        - infoImageUrl
        - infoText
        - infoPagePath
    ExperiencePrice:
      type: object
      properties:
        originalPrice:
          $ref: "#/components/schemas/CurrencyValueDisplay"
        discountedPrice:
          $ref: "#/components/schemas/CurrencyValueDisplay"
        discountedPrecentage:
          type: integer
        discountPercentageLabel:
          type: string
      required:
        - originalPrice
    CurrencyValueDisplay:
      type: object
      properties:
        numOfDecimalPoint:
          type: integer
        currencyValue:
          $ref: "#/components/schemas/CurrencyValue"
      required:
        - numOfDecimalPoint
        - currencyValue
    CurrencyValue:
      type: object
      properties:
        currency:
          type: string
        amount:
          type: string
      required:
        - currency
        - amount
    MonthDayYear:
      type: object
      properties:
        month:
          type: integer
        day:
          type: integer
        year:
          type: integer
    ExperienceTicketPromo:
      type: object
      properties:
        title:
          type: string
        backgroundColorHex:
          type: string
      required:
        - title
        - backgroundColorHex
    ExprienceTicketEntranceType:
      type: object
      properties:
        identifier:
          type: string
        title:
          type: string
        description:
          type: string
        min:
          type: integer
        max:
          type: integer
        price:
          $ref: "#/components/schemas/ExperiencePrice"
        loyaltyPoint:
          type: integer
    ExperienceTicketTimeSlot:
      type: object
      properties:
        timeSlotId:
          type: string
        label:
          type: string
        eventInfo:
          $ref: "#/components/schemas/ExperienceEventInfo"
        isAvailable:
          type: boolean
        quantity:
          type: integer
    ExperienceEventInfo:
      type: object
      properties:
        publicKey:
          type: string
        eventKey:
          type: string
        remainingAllotment:
          type: integer
        availableCategories:
          type: array
          items:
            type: string
        bookingExpiration:
          type: integer
          format: int64
        seatHoldExpiration:
          type: integer
          format: int64
      required:
        - publicKey
        - eventKey
        - remainingAllotment
        - availableCategories
        - bookingExpiration
        - seatHoldExpiration
